body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
  }
  
  .card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(100% - 80px); /* Adjust width to account for left and right padding */
    height: calc(100% - 80px); /* Adjust height to account for top and bottom padding */
    background-color: #c6c3dc; /* Change background color as needed */
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    box-sizing: border-box;
    margin: auto; /* Center align the card */
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    transition: transform 0.3s, box-shadow 0.3s;
  }
  
  .card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }
  